<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Job Search - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Remote Job Search</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Welcome to Remote Job Search</h1>
        <p>Find the perfect job or post one!</p>
        <a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>
        <a href="/login" class="btn btn-secondary btn-lg">Login</a>
    </div>

    <footer class="text-center">
        <p>&copy; 2024 Remote Job Search. All rights reserved.</p>
    </footer>
</body>
</html>
